body {

    font-family: Eina !important;
    font-size: medium;

}

input:focus,
input {
    box-shadow: none !important;
    outline: none !important;
}

input::placeholder {
    opacity: 0.5 !important;
    font-size: small;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

#imgScroll {
    scrollbar-width: none;
}

.bg-color {
    background-color: #7B6558;
    color: white;
}



.accordion-button::after {
    background-image: none !important;
    content: "+" !important;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffff;
    border: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    content: "–" !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item:not(.collapsed) {
    border: none !important;
}

.accordion-body {
    border-bottom: 1px solid #aaa;
}